.css-1ht1j8u.e16fv1kl0 {
    /* background-color:#3550aa;
    border: 1px solid #40c736;     
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    padding: 5% 5% 5% 10%; */
    font-size: 1rem;
    /* white-space:normal;border:1px solid black;width:320px */
}